@import "lib";

// TODO remove unused bits of BS
// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

@import "~bootswatch/dist/solar/bootswatch";

html, body { height: 100% }

.cursor-pointer {
  cursor: pointer !important;
}

.media.media-card {
  background-color: $card-bg;
  border: $card-border-color solid 1px;
}

.btn:not(.btn-block) {
  margin-right: map-get($spacers, 1);
  margin-bottom: map-get($spacers, 1);
}

.badge-group {
  .badge {
    margin-right: map-get($spacers, 1);
    margin-bottom: map-get($spacers, 1);
  }
}

.table {
  thead {
    background-color: $card-bg;
  }

  &.table-stacked {
    @include media-breakpoint-down(md) {
      display: block;

      thead {
        display: none;
      }

      tbody {
        display: block;
        tr {
          display: block;
          border: 1px solid $table-border-color;
          border-radius: $border-radius;
          box-shadow: $box-shadow;
          margin-bottom: map-get($spacers, 3);
          td, th {
            &:first-child {
              background-color: $card-bg;
              font-weight: $font-weight-bold;
            }
            display: block;
            border: none;
            border-bottom: 1px solid $table-border-color;
            &:last-child {
              border-bottom: 0;
            }
            position: relative;
            padding: $table-cell-padding-y $table-cell-padding-x $table-cell-padding-y 45%;
            white-space: normal;
            text-align: left;
            line-height: 1.2;
            &:before {
              // Now like a table header
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 40%;
              padding: $table-cell-padding-x $table-cell-padding-y;
              white-space: nowrap;
              text-align: left;
              content: attr(data-title);
            }
          }
        }
      }

      &.table-sm {
        tbody {
          td, th {
            padding: $table-cell-padding-y-sm $table-cell-padding-x-sm $table-cell-padding-y-sm 45%;
            &:before {
              padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
            }
          }
        }
      }
    }
  }
}
