<div class="mb-3">
  <button class="btn btn-outline-secondary" (click)="back()">
    <i class="fas fa-arrow-left"></i> Back
  </button>
</div>

<ng-container *ngIf="movie; else spinner">
  <div class="alert alert-primary" *ngIf="movie.localSource?.source">
    <div class="media">
      <i class="fas fa-exclamation-circle mt-1"></i>
      <div class="media-body ms-2">
        <strong>{{movie.title}}</strong> is available on <strong>{{movie.localSource.source | titlecase}}</strong>.
        <br>
        Downloading is disabled.
      </div>
    </div>
  </div>

  <div class="row flex-column-reverse flex-md-row mb-3">
    <div class="col-md flex-grow-0 flex-shrink-1">
      <mm-poster [movie]="movie"></mm-poster>
    </div>
    <div class="col-md">
      <h1>{{movie.title}}</h1>
      <mm-badges [movie]="movie"></mm-badges>

      <div class="mb-1">
        <mm-rating [movie]="movie"></mm-rating>
      </div>

      <div class="mb-1">
        <mm-external-links [movie]="movie"></mm-external-links>
      </div>

      <button class="btn btn-primary" (click)="download()" [disabled]="!!movie.localSource?.source" >
        <i class="fas fa-download"></i>
        Download
      </button>

      <p>
        {{movie.description}}
      </p>
    </div>
  </div>

</ng-container>

<ng-template #spinner>
  <mm-spinner></mm-spinner>
</ng-template>
