<div class='h-100 d-flex flex-column'>
  <h1>
    <i class="fas fa-film"></i>
    Movies
  </h1>

  <div class="card mb-2 shadow">
    <div class="card-body">
      <form [formGroup]="searchForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="submit()">
        <div class="input-group mb-2">
          <input type="text" class="form-control" placeholder="Search movies" formControlName="title">
          <div class="input-group-append d-sm-none" *ngIf="isDirty">
            <button class="btn btn-outline-danger" type="button" (click)="reset()">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
        <span>
          {{ $count | async | quantity: 'result' }}
        </span>
          <div class="btn-group">
            <button class="btn btn-outline-danger btn-sm d-none d-sm-block" *ngIf="isDirty" (click)="reset()">
              <i class="fas fa-times"></i>
              Reset
            </button>

            <button
              class="btn btn-outline-secondary btn-sm"
              [ngClass]="{ 'btn-outline-secondary': sortCollapsed, 'btn-secondary': !sortCollapsed }"
              type="button"
              (click)="toggleSort()">
              <i class="fas fa-sort-alpha-down"></i>
              Sort
            </button>

            <button
              class="btn btn-outline-secondary btn-sm"
              [ngClass]="{ 'btn-outline-secondary': filtersCollapsed, 'btn-secondary': !filtersCollapsed }"
              type="button"
              (click)="toggleFilters()">
              <i class="fas fa-filter"></i>
              Filter
            </button>
          </div>
        </div>

        <div [ngbCollapse]="sortCollapsed" class="text-muted pt-2">
          <div class="d-flex justify-content-end flex-wrap mb-2">
            <div class="form-check form-check-inline" *ngFor="let key of orderByKeys">
              <input class="form-check-input" type="radio" id="sort-{{key}}" [value]="key" formControlName="orderBy">
              <label class="form-check-label" for="sort-{{key}}">
                {{key | titlecase}}
              </label>
            </div>
          </div>
          <div class="d-flex justify-content-end flex-wrap">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="sort-descending" formControlName="orderByDescending">
              <label class="form-check-label" for="sort-descending">
                Descending
              </label>
            </div>
          </div>
        </div>

        <div [ngbCollapse]="filtersCollapsed" class="text-muted pt-2">
          <div class="d-flex justify-content-end mb-2">


            <select id="genre" class="form-select filter-field" formControlName="genre">
              <option value="">All Genres</option>
              <option [value]="genre" *ngFor="let genre of $availableGenres | async">{{genre}}</option>
            </select>
          </div>

          <div class="d-flex justify-content-end mb-2">
            <div class="form-check form-switch form-check-inline">
              <input class="form-check-input" type="checkbox" id="show-downloaded" formControlName="downloaded">
              <label class="form-check-label" for="show-downloaded">Show downloaded</label>
            </div>
          </div>

          <ng-template #ratingStar let-fill="fill">
            <i class="fas fa-star" *ngIf="fill === 100"></i>
            <i class="far fa-star" *ngIf="fill === 0"></i>
            <i class="fas fa-star-half-alt" *ngIf="fill !== 0 && fill !== 100"></i>
          </ng-template>

          <div class="d-flex justify-content-end mb-2">
            <label for="rating-from" class="me-1">Minimum rating</label>
            <ngb-rating id="rating-from" formControlName="ratingFrom" resettable="true" max="5" [starTemplate]="ratingStar"></ngb-rating>
          </div>

          <div class="d-flex justify-content-end mb-2">
            <label for="rating-to" class="me-1">Maximum rating</label>
            <ngb-rating id="rating-to" formControlName="ratingTo" resettable="true" max="5" [starTemplate]="ratingStar"></ngb-rating>
          </div>

          <div class="d-flex justify-content-end">
            <label for="rating-from">Release year</label>
          </div>
          <div class="input-group justify-content-end mb-2">
            <input id="year-from" type="number" min="1900" [max]="maxYear" class="form-control filter-field-sm" formControlName="yearFrom" />
            <span class="input-group-text">
              <i class="fas fa-angle-right"></i>
            </span>
            <input id="year-to" type="number" min="1900" [max]="maxYear" class="form-control filter-field-sm" formControlName="yearTo" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <cdk-virtual-scroll-viewport itemSize="150" class="flex-grow-1">

    <div class="d-flex align-items-center my-2 shadow cursor-pointer" *cdkVirtualFor="let movie of dataSource" (click)="select(movie)">
      <div class="flex-shrink-0">
        <mm-poster [movie]="movie" [thumb]="true"></mm-poster>
      </div>
      <div class="flex-grow-1 ms-3">
        <h5 class="mt-0 mb-1">
          {{movie.title}}
        </h5>

        <mm-badges [movie]="movie"></mm-badges>

        <mm-rating [movie]="movie"></mm-rating>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

</div>
