[Unit]
Description=Mollies Movies API

Service]
User=alex
Group=alex
Type=notify
Environment="ASPNETCORE_ENVIRONMENT=Production"
nvironment="ASPNETCORE_URLS=http://0.0.0.0:5000"
Environment="CONNECTIONSTRINGS__MYSQL=Server=localhost;Port=3306;Database=MolliesMovies;Uid=mollies-movies;Pwd=mysql-password;"
Environment="CONNECTIONSTRINGS__PLEX=http://localhost:32400"
Environment="CONNECTIONSTRINGS__TRANSMISSION=http://localhost:9091/transmission/rpc"
Environment="SCRAPER__PLEX__TOKEN=uH9y5ZyQFhxiAHiRXVwb"
ExecStart=/usr/share/mollies-movies/MolliesMovies
WorkingDirectory=/usr/share/mollies-movies

[Install]
WantedBy=multi-user.target